<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>    

    <head>

      {% block css %}
      {% endblock css %}
        
    </head>
    
    <title>form materialize project - {% block title %}{% endblock title %}</title>
  </head>
  <body>
    <div class="container">
      {% block content %}
      {% endblock content %}
    </div>

    {% block scripts %}
    {% endblock scripts %}
   
  </body>
</html>